<chapter>
  <slide
    title="An interactive introduction to Containers"
    [titleLarge]="true"
  >
    <div class="layout-1x1">
      <div class="layout-left">
        <h3>
          Martin Koppehel
          <br>
          Jasper Orschulko
        </h3>
      </div>

      <div class="layout-right" style="align-self: center;">
        <img width="600" src="https://www.docker.com/sites/default/files/d8/2019-07/vertical-logo-monochromatic.png">
      </div>
    </div>
  </slide>

  <slide title="Agenda">
    <div class="layout-1x1x1">
      <ul>
        <li>Introduction</li>
        <li>Containers</li>
        <hr>
        <li>Docker</li>
            <ul>
              <li>unique features</li>
            </ul>
        <li>Applications and Containers</li>
        <li>Outlook</li>
      </ul>
    </div>
  </slide>
</chapter>

<chapter title="Introduction: Containers">
  <slide
    title="Why that?">
    <div class="layout-2x2">
      <div class="layout-top-left layout-centering">
        <img width="600" src="./assets/sceptical.png">
      </div>
      <div class="layout-top-right layout-centering">
        <img width="600" src="./assets/fliptable.png">
      </div>
      <div class="layout-bottom2 layout-centering">IT during application update (stock photo)</div>
    </div>
  </slide>

  <slide
    title="Why that?">
    <div class="layout-1">
      <ul>
        <li>Containers are all about isolation</li>
          <ul><li>But so are VMs?</li></ul>
        <li>Containers is a very vague term</li>
        <li>Containers provide a unique set of benefits</li>
          <ul>
            <li>for developers <b>and</b> for admins</li>
          </ul>
      </ul>
    </div>
  </slide>
  <slide
    title="Why that?">
    <div class="layout-1">
      <ul>
        <li>No more dependency hell!</li>
        <li>Coexistence of applications!</li>
        <li>Atomic updates and rollbacks!</li>
        <li>Horizontal Scaling (if supported)!</li>
        <hr>
        <li>Reproducible Environments!</li>
        <li>Fiddling with software without trashing your linux!</li>
      </ul>
    </div>
  </slide>
</chapter>

<chapter title="Basics">
  <slide title="So, WHAT exactly is a container?">
    <div class="layout-2">
      <q class="layout-top">A linux container consists of one or more processes that are isolated from the remaining system.</q>
      <ul>
        <li>Isolated Filesystem</li>
        <li>Isolated process, network, memory, clock, IPC</li>
        <li>Resource limits</li>
        <li><b>Set of technologies to make applications coexist in peace</b></li>
      </ul>
    </div>
  </slide>
    <slide title="Isn't that just virtualization?">
    <div class="layout-1x1x1">
      <div class="layout-left columns">
        <span>Hosts</span><br>
        <img src="./assets/hosts.png">
      </div>
      <div class="layout-center columns">
        <span>VMs</span><br>
        <img src="./assets/vms.png">
      </div>
      <div class="layout-right columns">
        <span>Containers</span><br>
        <img src="./assets/containers.png">
      </div>
    </div>
  </slide>
  <slide title="Backing Technologies: Namespaces / CGroups">
    <div class="layout-1">
      <ul>
        <li>Control Groups (CGroups) are used to limit resources for a group of processes (CPU, Memory)</li>
        <li>Namespaces are used to hide certain aspects of the host</li>
          <ul>
            <li>Filesystem NS hide hosts filesystem (chroot)</li>
            <li>NetNS hide hosts network interfaces</li>
            <li>PID NS hide hosts processes</li>
            <li>User NS can change user IDs</li>
            <li>Time NS can change the time</li>
          </ul>
        <li>Namespaces are inherited to child processes.</li>
      </ul>
    </div>
  </slide>
  <slide title="Backing Technologies: OCI">
    <div class="layout-1x1">
      <ul class="layout-left">
        <li>OCI = Open Container Image</li>
        <li>Transport format for containers</li>
        <li>List of layers in a container</li>
        <hr>
        <li>Container Filesystem is built by merging all layers top down, into an empty, temporary directory, then chroot</li>
        <li>Done by a <b>Container Runtime</b>
      </ul>
      <img class="layout-right layout-centering" width="600" src="./assets/layerfs.png">
    </div>
  </slide>
</chapter>

<chapter title="Docker">
  <slide title="So, what is Docker?">
    <div class="layout-1">
      <ul>
        <li>Docker is a <b>Container Runtime</b></li>
        <li>It creates, manages and builds containers</li>
        <li>It is the most widely used container runtime</li>
        <li>Has much more features than a plain container runtime</li>
        <hr>
        <li>We will look at a few in detail now</li>
      </ul>
    </div>
  </slide>
  <slide title="Running an existing container">
    <div class="layout-2">
      <pre class="layout-top">$ docker <b>run</b> [OPTIONS] IMAGE [COMMAND] [ARGUMENTS...] # run plain container
$ docker <b>run</b> -it debian:buster bash # run a shell inside debian (interactive)
$ docker <b>run</b> -e FOO=bar debian:buster # pass environment variable FOO
$ docker <b>run</b> -v $(pwd):/app debian:buster # mount current directory to /app</pre>
      <tty class="layout-bottom"></tty>
    </div>
  </slide>
  <slide title="More container commands">
    <div class="layout-2">
      <pre class="layout-top">$ docker <b>ps</b> # show running containers
$ docker <b>rm</b> CONTAINER # remove container including its filesystem
$ docker <b>top</b> CONTAINER # show process statistics for container
$ docker <b>logs</b> CONTAINER # show stdout of PID 1 in container</pre>
      <tty class="layout-bottom"></tty>
    </div>
  </slide>
  <slide title="Docker Networking">
    <div class="layout-1">
      <ul>
        <li>Docker supports three network modes</li>
        <ul>
          <li>None - Container has no network access at all</li>
          <li>Host - Container has no network isolation, acts like the host</li>
          <li>Bridge - Container is attached to a virtual switch on the host <b>(Default)</b></li>
        </ul>
        <li>Docker networks map to bridge network interfaces</li>
      </ul>
    </div>
  </slide>
  <slide title="Docker Networks">
    <div class="layout-1">
      <ul>
        <li>Host acts as a router to the outside world, gets assigned an IP</li>
        <ul><li>e.g. 172.17.0.1</li></ul>
        <li>Every container gets assigned an IP address within the subnet of the network</li>
        <ul><li>e.g. 172.17.0.2, .3, .4, etc.</li></ul>
        <li>Services within containers reachable from host under container IP</li>
        <li>Other containers in the same network can be reached by name (DNS)</li>
        <ul><li>e.g. application-database if that's the container name</li></ul>
      </ul>
    </div>
  </slide>
  <slide title="Docker Networks HandsOn">
    <div class="layout-2">
      <pre class="layout-top">$ docker <b>network ls</b> # list existing networks
$ docker <b>network create</b> name # create a new network
$ docker <b>run</b> --network=name IMAGE # attach a container to a specific network
$ docker <b>network inspect</b> name # view details about a network (JSON format)</pre>
      <tty class="layout-bottom"></tty>
    </div>
  </slide>

  <slide title="Building our own container - Manifests">
    <div class="layout-1x1">
      <ul class="layout-left">
        <li>Image defined by a manifest file</li>
        <li>One line in the manifest yields one layer in the container</li>
        <li><b>FROM</b> - base image</li>
        <li><b>COPY/ADD</b> - add files from host</li>
        <li><b>WORKDIR</b> - change directory in container</li>
        <li><b>RUN</b> - execute command in container</li>
        <li><b>ENTRYPOINT</b> - which command shall be run on start</li>
      </ul>
      <pre class="layout-right">
# Specify base image
<b>FROM</b> alpine:3.16

# Install dependencies
<b>RUN</b> apk add --no-cache nginx

# Copy application
<b>COPY</b> . /usr/share/nginx/html

# Provide application on this port
<b>EXPOSE</b>> 80

# Run server
<b>ENTRYPOINT</b> /usr/bin/nginx
      </pre>
    </div>
  </slide>

  <slide title="Building our own container - HandsOn">
    <div class="layout-2">
      <pre class="layout-top">
$ docker <b>build</b> DIR # build a container according to the Dockerfile in DIR
$ docker <b>build</b> -t image:v1 . # build current directory with tag image:v1
$ docker <b>tag</b> CONTAINERREF image:v2 # add a image:v2 tag to CONTAINERREF</pre>
      <tty class="layout-bottom"></tty>
    </div>
  </slide>
  <slide title="Distributing our container - HandsOn">
    <div class="layout-2">
      <pre class="layout-top">
$ docker <b>login</b> docker.example.com # login to a container registry
$ docker <b>tag</b> REF docker.example.com/image:v1 # tag image to point to registry
$ docker <b>push</b> docker.example.com/image:v1 # push tagged image to registry
$ docker <b>pull</b> docker.example.com/image:v1 # pull built image to this PC</pre>
      <tty class="layout-bottom"></tty>
    </div>
  </slide>
  <slide title="Building containers - best practices">
    <div class="layout-1x2">
      <ul class="layout-left">
        <li>Version pinning for base image</li>
        <li>Version pinning for libraries/deps</li>
        <li>Dependencies in an own layer</li>
        <li>Remove temporary files in commands</li>
        <li>Separate build and run stage</li>
        <li>Don't download files blindly from the internet</li>
        <li>One container - one job</li>
        <li>No credentials in manifest files</li>
      </ul>
      <pre class="layout-top-right">FROM alpine:edge <i># no pinning</i>
RUN apk add curl <i># leftover files</i>
RUN curl https://foo.de -o /app
ENTRYPOINT /app</pre>
      <div class="layout-bottom-right layout-centering" style="height: 800px;">
        <img height="500" src="./assets/living-on-the-edge.jpg">
      </div>
    </div>
  </slide>
</chapter>

<chapter title="Applications and Containers">
  <slide title="Application Design">
    <div class="layout-1">
      <ul>
        <li>Fail Fast (on config issues)</li>
        <li>Expose a health check</li>
        <li>Explicit dependencies</li>
        <li>Prefer network over unix sockets</li>
        <li>Configuration from env/file</li>
        <li>Secrets from env/file</li>
        <li>No dynamic code loading</li>
      </ul>
    </div>
  </slide>
  <slide title="Running an Application">
    <div class="layout-2">
      <q class="layout-top">If one container does one job and my app is one container, how do I access a database?</q>
      <q class="layout-bottom answer">Orchestration, e.g. docker-compose, docker swarm, kubernetes, zookeeper...</q>
    </div>
  </slide>
  <slide title="docker-compose">
    <div class="layout-1x1">
      <ul class="layout-left">
        <li>compose is a tool to start and link several containers</li>
        <li>uses a yaml manifest file to define all containers</li>
        <li><b>NOT</b> a production tool</li>
        <li>Used for development environments</li>
        <li>Can specify volumes, environment, networking, versions...</li>
        <li>Limited to one machine</li>
      </ul>
      <div class="layout-right layout-2">
        <div class="layout-top layout-centering">
          <img src="./assets/compose.jpg" width="600">
        </div>
        <h3 class="layout-bottom layout-x-centering">docker-compose (stock photo)</h3>
      </div>
    </div>
  </slide>
  <slide title="docker-compose - HandsOn">
    <div class="layout-1">
      <tty></tty>
    </div>
  </slide>
</chapter>

<chapter title="Thanks" subtitle="Q/A Time!">
</chapter>
