<chapter>
  <slide
    title="An interactive introduction to Containers">
    <div class="layout-1x1">
      <div class="layout-left">
        <h3>
          Martin Koppehel
          <br>
          Jasper Orschulko
        </h3>
      </div>

      <div class="layout-right" style="align-self: center;">
        <img width="600" src="https://www.docker.com/sites/default/files/d8/2019-07/vertical-logo-monochromatic.png">
      </div>
    </div>
  </slide>

  <slide title="Agenda">
    <div class="layout-1x1x1">
      <ul>
        <li>Introduction</li>
        <li>Containers</li>
        <hr>
        <li>Docker</li>
            <ul>
              <li>unique features</li>
            </ul>
        <li>Applications and Containers</li>
        <li>Outlook</li>
      </ul>
    </div>
  </slide>
</chapter>

<chapter title="Introduction: Containers">
  <slide
    title="Why that?">
    <div class="layout-1">
      <img class="layout-center" src="./assets/version-control.svg">
    </div>
  </slide>
</chapter>

<chapter title="Thanks" subtitle="Q/A Time!">
</chapter>
